apiVersion: flow.triggermesh.io/v1alpha1
kind: Transformation
metadata:
  name: ${{ values.name }}-transformation
  labels:
    bridges.triggermesh.io/id: ${{ values.name }}
spec:
  ${{ values.transformationCode | indent(2) }}
  sink:
    ref:
      apiVersion: eventing.knative.dev/v1
      kind: Broker
      name: ${{ values.name }}-broker
